.btn {
    position: relative;
    padding: 10px 30px;
    border-radius: $btn-border-radius;
    color: white;
    font-size: $btn-font-size;
    text-align: left;
    font-weight: $btn-font-weight;
    border: 1px solid #ffffff;
    font-family: $base-font-family;
    cursor: pointer;
    background-color: transparent;
    min-width: 150px;

    &:focus,
    &:active,
    &:hover {
        color: white;
    }

    &:focus {
        outline: none;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    }

    &:hover {
        outline: none;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);

        &:after {
            right: 15px;
        }

    }

    &:after {
        content: url("../images/svg/arrow.svg");
        width: 15px;
        display: inline-block;
        position: absolute;
        right: 20px;
        top: 9px;
        -webkit-transition: all 0.2s ease-in-out 0s;
        transition: all 0.2s ease-in-out 0s;
    }
}